In [1]:
list_one = [1, 3, 5, 3,5, 2, 6, 2]
print(list_one)

[1, 3, 5, 3, 5, 2, 6, 2]

In [2]:
import pandas as pd 
coffee_per_day = [1, 5, 8, 5, 4, 3, 2]
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
series_one = pd.Series(coffee_per_day, index=days)
print(series_one)

Monday       1
Tuesday      5
Wednesday    8
Thursday     5
Friday       4
Saturday     3
Sunday       2
dtype: int64

In [3]:
import pandas as pd 

workout_dictionary = {
    "Monday" : "Core & Cardio", 
    "Tuesday" : "Arms & Back",
    "Wednesday" : "Rest Day",
    "Thursday" : "Legs & Shoulders",
    "Friday" : "Chest & Cardio",
    "Saturday" : "Rest Day",
    "Sunday" : "Calisthenics"
}

workout_series = pd.Series(workout_dictionary)
print(workout_series)

Monday          Core & Cardio
Tuesday           Arms & Back
Wednesday            Rest Day
Thursday     Legs & Shoulders
Friday         Chest & Cardio
Saturday             Rest Day
Sunday           Calisthenics
dtype: object

In [4]:
import pandas as pd 
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
restful_life = pd.Series("Rest!", days)
print(restful_life)

Monday       Rest!
Tuesday      Rest!
Wednesday    Rest!
Thursday     Rest!
Friday       Rest!
Saturday     Rest!
Sunday       Rest!
dtype: object

In [5]:
import pandas as pd 
dict_scorecard = {
    "Will" : [5, 4, 3, 3, 4, 4, 2, 3, 4, 4, 7, 4, 3, 3, 4, 3, 2, 3],
    "Dale" : [3, 4, 2, 3, 4, 4, 5, 3, 5, 2, 5, 2, 4, 5, 4, 3, 4, 3],
    "Anna" : [3, 4, 3, 4, 5, 3, 2, 5, 2, 5, 3, 5, 4, 4, 3, 2, 5, 3]
}

score_frame = pd.DataFrame(dict_scorecard)
print(score_frame)

    Will  Dale  Anna
0      5     3     3
1      4     4     4
2      3     2     3
3      3     3     4
4      4     4     5
5      4     4     3
6      2     5     2
7      3     3     5
8      4     5     2
9      4     2     5
10     7     5     3
11     4     2     5
12     3     4     4
13     3     5     4
14     4     4     3
15     3     3     2
16     2     4     5
17     3     3     3

In [6]:
score_frame = pd.DataFrame(dict_scorecard, index=[i for i in range(1, 19)])
score_frame.tail()

    Will  Dale  Anna
14     3     5     4
15     4     4     3
16     3     3     2
17     2     4     5
18     3     3     3

In [7]:
import pandas as pd 

workout_dictionary = {
    "Monday" : "Core & Cardio", 
    "Tuesday" : "Arms & Back",
    "Wednesday" : "Rest Day",
    "Thursday" : "Legs & Shoulders",
    "Friday" : "Chest & Cardio",
    "Saturday" : "Rest Day",
    "Sunday" : "Calisthenics"
}

workout_series = pd.Series(workout_dictionary)

coffee_per_day = [1, 5, 8, 5, 4, 3, 2]
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

series_one = pd.Series(coffee_per_day, index=days)

coffees_vs_workout = {
    "coffee" : series_one,
    "workout" : workout_series
}

pd.DataFrame(coffees_vs_workout)

           coffee           workout
Monday          1     Core & Cardio
Tuesday         5       Arms & Back
Wednesday       8          Rest Day
Thursday        5  Legs & Shoulders
Friday          4    Chest & Cardio
Saturday        3          Rest Day
Sunday          2      Calisthenics